<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Lonestar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Lonestar Soccer Club</h1>
						<!--<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul> -->
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="../images/full/IMG_2218.JPG"><img src="../images/thumb/IMG_2218.JPG" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
							<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2224.jpg"><img src="images/thumb/IMG_2224.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2235.JPG"><img src="images/thumb/IMG_2235.JPG" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2241.jpg"><img src="images/thumb/IMG_2241.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2242a.jpg" ><img src="images/thumb/IMG_2242a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2243.JPG"><img src="images/thumb/IMG_2243a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2248a.jpg"><img src="images/thumb/IMG_2248a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2250a.jpg"><img src="images/thumb/IMG_2250a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2251a.jpg"><img src="images/thumb/IMG_2251a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2257a.jpg"><img src="images/thumb/IMG_2257a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2260a.jpg"><img src="images/thumb/IMG_2260a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2263a.jpg"><img src="images/thumb/IMG_2263a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2275a.jpg"><img src="images/thumb/IMG_2275a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2300a.jpg"><img src="images/thumb/IMG_2300a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2303a.jpg"><img src="images/thumb/IMG_2303a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2314a.jpg"><img src="images/thumb/IMG_2314a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2320a.jpg"><img src="images/thumb/IMG_2320a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
						<article>
							<a class="thumbnail" href="images/full/IMG_2321a.jpg"><img src="images/thumb/IMG_2321a.jpg" alt="" /></a>
							<h2>Lonestar Soccer Club</h2>
								<p>March 26, 2022</p>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Bill Adkins 2022</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../server.js"></script>

	</body>
</html>